.summary-notes-table {
  margin-top: 10rem;
}

.summary-notes-list {
  font-size: 1.6rem;
}

.summary-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: aliceblue;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  padding: 1rem;
  width: 100%;
}
