.notes-table {
  margin-top: 2%;
}

.notes-table,
.summary-notes-table {
  margin-bottom: 64px;
  font-size: 24px;
  font-weight: bold;
}

.table-header {
  margin-bottom: 16px;
  background-color: gray;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;
  color: white;
}

.summary-table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 16px;
  background-color: gray;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;
  color: white;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-header-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  flex-wrap: nowrap;
  gap: 0.8rem;
}

.table-header-icons .ionicon {
  width: 30px;
}

.archive-toggle-text {
  font-size: 0.6em;
  font-weight: bold;
}

.table-header__item:first-child {
  margin-left: 4.5rem;
}

.archive-title {
  font-size: 16px;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}

.isHidden {
  display: none;
}
