.notes-table {
  margin-top: 2%;
}

.notes-table,
.summary-notes-table {
  margin-bottom: 64px;
  font-size: 24px;
  font-weight: bold;
}

.table-header {
  margin-bottom: 16px;
  background-color: gray;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;
  color: white;
}

.summary-table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 16px;
  background-color: gray;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;
  color: white;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-header-icons {
  margin-left: auto;
}

.archive-toggle-text {
  font-size: 0.6em;
  font-weight: bold;
}

.table-header .table-header__item:first-child {
  margin-left: 30%;
}
